<html>
<head>
<title>PHP to MQSQL</title>
</head>
<body>
<?php
mysqli_connect('db', '{{ mysql_user }}', '{{ mysql_password }}') or die('Could not connect the database : Username or password incorrect');
echo 'Database Connected successfully';
?>
</body>
</html>
